body{    font-family: sans-serif;
    line-height: 1.15;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    box-sizing: border-box;
}
    #contenido {
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    padding: px;
    display: inline-block;
}
    #contenido h1 {
    background: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}
    #contenido img {
    float : left;
}

.imagen {
    width: 240;
    height: 240;
    border-radius: 25px;

}

.imagens {
    width: 250;
    height: 250;
    border-radius: 25px;

}
.imagenes{
    width: 450;
    height: 250;
    border-radius: 25px;
}

nav{
    text-align: left;
    padding: 30px 50px 0 0;
}




